body {
  background-image: url(./Images/Home-background.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
}


/* TEAMS */
.team-join {
  margin-top: 20px;
  width: 300px;
}
.team-table {
  justify-content: center;
  align-content: center;
  margin: auto;
}
.team-btn {
  margin-left: 10px;
  margin-top: 20px;
  color: whitesmoke;
}
.team-h3 {
  margin-top: 30px;
  font-size: 22px;
}
